<h1>Hello, Rails!</h1>
<p> Our blog has <%= Article.public_article_count %> articles and counting! </p> 
<ul>
  <% @articles.each do |article|%>
    <% unless article.archived? %>
      <li link_to article.title, article> <%= article.title%> </li>
    <% end %>
  <% end %>
 </ul>

 <%= link_to "New Article", new_article_path%>
